:root {
    --color-primary: #6f7cf4;
    --color-link-bg:#8790e622;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-body:#f6f6f9;
    --color-link:#7d8da1;
    --color-border:#e7e0e0df;
    --color-shadow:#6f7cf463;
    --color-gray-bg:rgba(132,139,200,0.18);


    --color-white:white;
    --color-black:black;
    --color-dark:#363949;
    --transition-duration:300ms;
    --border-raduis-1:0.6rem;
    --border-raduis-2:1.2rem;
    --box-shadowing: 0 1.5rem 2rem var(--color-shadow);
}
html {
    font-size:14px;
}

/* .container */
.container {
display:grid;
grid-template-columns:14rem auto 23rem;
gap:1.8rem;
width:96%;
margin:1.5rem auto;
height:100vh;
background-color:var(--color-body);
}
/* aside */

aside .top {
    /* background-color: #ff76f7; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}
aside .top .logo{
 display:flex;
 align-items: center;
 gap:0.5rem;
}

aside .top .logo:hover h2{
    color:var(--color-primary);
}
aside .top .logo:hover span{
   color:var(--color-dark);
}

aside .top .logo span  {
    color:var(--color-primary);
}
aside .top .logo span{
    transition: all var(--transition-duration) ease;
    font-size:2.2rem;
    font-weight:bold;

}
aside .top .close {
    display:none;
}
aside .side {
height:100vh;
margin-top:2rem;
}
aside .side a{
    width:100%;
    display:flex;
    align-items:center;
  
    gap:1rem;
    color:var(--color-link);
    height:3.8rem;
    transition: all var(--transition-duration) ease;
}
aside .side a:hover span{
color:var(--color-primary);

}
aside .side a.active {
    color:var(--color-primary);
    background-color: var(--color-link-bg);
}
aside .side a.active::before {
    content:"";
    width:6px;
    height:100%;
    background-color: var(--color-primary);

}
aside .side a:last-child{
    position:absolute;
    bottom:1rem;
}
aside .side a span {
    margin-left:2rem;
    transition: all var(--transition-duration) ease;
}
aside .side a.active span{
    margin-left:calc(2rem - 19px);
}
/* main */
main {
    /* text-align: center; */
    padding:20px;
    /* background-color:var(--color-white); */
} 
/* .right */

.right .top{
    display:flex;
    justify-content:flex-end;
    gap:2rem;
}
.right .top .menu{
    display:none;
}
.right .top .theme{
    display:flex;
    align-items: center;
    height:fit-content;
    border-radius:var(--border-raduis-1);
    background-color:var(--color-gray-bg);
}
.right .top .theme span{
    font-size:1.4rem;
    color:var(--color-dark);
    padding:2px 5px;
    border-radius:var(--border-raduis-1);
}
.right .top .theme span.active{
    background-color: var(--color-primary);
    color:white;

  
}

.right .top .profile{
    display:flex;
    gap:1rem;
    align-items: center;
}
.right .top .profile .info{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
}
.right .top .profile .profile-image{
    width:45px;
    height:45px;
}
.right .top .profile .profile-image img{
    width:100%;
    height:100%;
}
/*
     Responsive Media Queries
*/



@media screen and (max-width: 1200px){
/* container */
.container {
    grid-template-columns:7rem auto 23rem;
}
/* aside */
aside .top .logo h2{
    display:none;
}
aside .top .logo span{
    font-size: 4rem;

}
aside .side a{
    width:6rem;
    text-align: center;
}
aside .side a p {
    display:none;
}
}

@media screen and (max-width:768px){
/* container */

    .container{
        width:100%;
        grid-template-columns: 1fr;
        /* background-color: var(--color-body); */
    }
/* aside */
aside {
    display:none;
    height:100vh;
    position: fixed;
    background-color: var(--color-white);
    width:20rem;
    z-index:3;
    padding-right:2rem;
}
aside .top{
    display:flex;
    align-items: center;
}
aside .top .logo span{
    font-size:2.2rem;
    margin-left:0.8rem;
}
aside .top .logo h2{
    display: block;
}
aside .top .close{
    display:block;
    font-size: 2rem;

}
aside .side a{
    width:100%;
}
aside .side a p{
    display:block;
}
/* main */
main {
    margin-top:6rem;
    background-color: inherit;
}
/* right */

.right .top{
    position :fixed;
    width:100%;
    background-color:var(--color-white);
    top:0;
    align-items:center;

    padding:0.8rem;
    
}
.right .top .profile .info{
    display:none;
}

.right .top .menu{
    display:block;
    position:absolute;
    left:1rem;
}
.right .top .menu span{
    font-size:2.5rem;
}

}


/* index.html container */
div.container.index{
    display:block;
}
/*****************************************/

/* Provider dashboard */

/* customers */

main.p_customers .info{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
    margin-bottom: 5rem;
    margin-top:1.5rem;
}
main.p_customers .info > div{
    padding:2rem;
    box-sizing:content-box;
    background-color:var(--color-white);
    border-radius: var(--border-raduis-2);
    transition:all 300ms ease;
    border:2px solid transparent;
}
main.p_customers .info > div:hover {
   
   border:2px solid var(--color-shadow);

}

main.p_customers .info .description{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:4rem;
}
main.p_customers .info .details{
    display:flex;
    justify-content: space-between;
}
main.p_customers .customersInfo .filters {
    display:flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding:1rem;
    border-radius: var(--border-raduis-1);
    margin-bottom:2rem;
   
}
main.p_customers .customersInfo table {
    width:100%;
    border-collapse:collapse;
    background-color: var(--color-white);
    border-radius: var(--border-raduis-2);
    padding:1rem;
 
}
main.p_customers .customersInfo table tbody tr{
   border-top:1px solid var(--color-border);
}
main.p_customers .customersInfo table td,
main.p_customers .customersInfo table th{
    padding:1.5rem 1rem;
}
/*******************/
/************************************************/