:root {
    --color-primary: #6f7cf4;
    --color-link-bg:#8790e622;
    --color-dangerous:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-body:#f6f6f9;
    --color-link:#7d8da1;
    --color-border:#e7e0e0df;
    --color-shadow:#6f7cf463;
    --color-gray-bg:rgba(132,139,200,0.18);


    --border-hovering:2px solid var(--color-shadow);
    --border-transparent:2px solid transparent;


    --color-white:white;
    --color-black:black;
    --color-dark:#363949;
    --transition-duration:300ms;
    --border-raduis-1:0.6rem;
    --border-raduis-2:1.2rem;
    --box-shadowing: 0 1.5rem 2rem var(--color-shadow);
}
html {
    font-size:14px;
    height:100%;
}

/* .container */
.container {
display:grid;
grid-template-columns:14rem auto 23rem;
gap:1.8rem;
width:96%;
margin:1.5rem auto;
height:100%;
background-color:var(--color-body);
}
/* aside */

aside .top {
    /* background-color: #ff76f7; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}
aside .top .logo{
 display:flex;
 align-items: center;
 gap:0.5rem;
}

aside .top .logo:hover h2{
    color:var(--color-primary);
}
aside .top .logo:hover span{
   color:var(--color-dark);
}

aside .top .logo span  {
    color:var(--color-primary);
}
aside .top .logo span{
    transition: all var(--transition-duration) ease;
    font-size:2.2rem;
    font-weight:bold;

}
aside .top .close {
    display:none;
}
aside .side {
height:100vh;
margin-top:2rem;
/* position:relative; */
}
aside .side a{
    width:100%;
    display:flex;
    align-items:center;
  
    gap:1rem;
    color:var(--color-link);
    height:3.8rem;
    transition: all var(--transition-duration) ease;
}
aside .side a:hover span{
color:var(--color-primary);

}
aside .side a.active {
    color:var(--color-primary);
    background-color: var(--color-link-bg);
}
aside .side a.active::before {
    content:"";
    width:6px;
    height:100%;
    background-color: var(--color-primary);

}
aside .side a:last-child{
    position:fixed;
    bottom:2rem;
}
aside .side a span {
    margin-left:2rem;
    transition: all var(--transition-duration) ease;
}
aside .side a.active span{
    margin-left:calc(2rem - 19px);
}
/* main */
main {
    /* text-align: center; */
    padding:20px;
    padding-bottom: 0;
    height:fit-content;
    /* background-color:var(--color-white); */
} 
main h1{
    width:fit-content;
}
main h1:hover {
    color:var(--color-primary);
}
/* .right */
.right {
    /* display:grid;
    grid:2rem; */
}
.right .top{
    display:flex;
    justify-content:flex-end;
    gap:2rem;
}
.right .top .menu{
    display:none;
}
.right .top .theme{
    display:flex;
    align-items: center;
    height:fit-content;
    border-radius:var(--border-raduis-1);
    background-color:var(--color-gray-bg);
}
.right .top .theme span{
    font-size:1.4rem;
    color:var(--color-dark);
    padding:2px 5px;
    border-radius:var(--border-raduis-1);
}
.right .top .theme span.active{
    background-color: var(--color-primary);
    color:white;

  
}

.right .top .profile{
    display:flex;
    gap:1rem;
    align-items: center;
}
.right .top .profile .info{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
}
.right .top .profile .profile-image{
    width:45px;
    height:45px;
}
.right .top .profile .profile-image img{
    width:100%;
    height:100%;
}
.right .notifications{
    display:grid;
}
.right .notifications h2{
    margin-top:2rem;
    margin-bottom:1rem;
}
.right .notifications .notification{
margin:2rem 0;
padding:0.5rem;
}
.right .notifications .notification .message{
display:flex;

}
.right .notifications .notification .message p{
    opacity: 70%;
}
.right .notifications .contents{
    background-color: var(--color-white);
    padding:1rem;
    border-radius: var(--border-raduis-2);
    border:var(--border-transparent)

}
.right .notifications .contents:hover{
    border:var(--border-hovering);
}


.right .notifications .notification .message img{
width:2rem;  
height:2rem;  
margin-right:1rem;
border-radius: 50%;
}
.right .notifications .notification .time{
    opacity: 50%;
}
.right .notifications .notification .time{
    margin-left:3rem;
}
.right .analytics{
    margin-top:1.5rem;
}
.right .analytics h2{
    margin-top:2rem;
    margin-bottom:1rem;
}
.right .analytics .info{
    padding:1rem;
    background-color: var(--color-white);
    margin-bottom:2rem;
    border-radius: var(--border-raduis-2);
    border:var(--border-transparent);
}
.right .analytics .info:hover {
    border:var(--border-hovering);
}
.right .analytics .info .box{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.right .analytics .info .box>span{
    background-color: var(--color-dangerous);
    color:var(--color-white);
    padding:0.5rem;
    border-radius: 50%;
}
.right .analytics .info:last-child .box>span{
    background-color: var(--color-success);
}
.right .analytics .info .bottom{
    opacity: 50%;
}
/*
     Responsive Media Queries
*/



@media screen and (max-width: 1200px){
/* container */
.container {
    grid-template-columns:7rem auto 18rem;
}
/* aside */
aside .top .logo h2{
    display:none;
}
aside .top .logo span{
    font-size: 4rem;

}
aside .side a{
    width:6rem;
    text-align: center;
}
aside .side a p {
    display:none;
}
}

@media screen and (max-width:768px){
/* container */

    .container{
        width:100%;
        grid-template-columns: 1fr;
        /* background-color: var(--color-body); */
    }
/* aside */
aside {
    display:none;
    height:100vh;
    position: fixed;
    background-color: var(--color-white);
    width:20rem;
    z-index:3;
    padding-right:2rem;
}
aside .top{
    display:flex;
    align-items: center;
}
aside .top .logo span{
    font-size:2.2rem;
    margin-left:0.8rem;
}
aside .top .logo h2{
    display: block;
}
aside .top .close{
    display:block;
    font-size: 2rem;

}
aside .side a{
    width:100%;
}
aside .side a:last-child{
    position:absolute;
    bottom:1.5rem;
}
aside .side a p{
    display:block;
}
/* main */
main {
    margin-top:6rem;
    background-color: inherit;
}
/* right */

.right .top{
    position :fixed;
    width:100%;
    background-color:var(--color-white);
    top:0;
    align-items:center;

    padding:0.8rem;
    
}
.right .top .profile .info{
    display:none;
}

.right .top .menu{
    display:block;
    position:absolute;
    left:1rem;
}
.right .top .menu span{
    font-size:2.5rem;
}
.right .notifications, .right .analytics{
    display:none;
}
}


/*              index.html              */
/* container */
div.container.index{
    display:block;
}
/*****************************************/

/*            Provider dashboard                    */
/* provider_account   */
main.p_account .information {
    /* background-color: var(--color-white); */
    display:grid;
    width:100%;
    grid-template-columns: auto-fill;
    grid-gap:10px;
    margin-top:2rem;
   
}

main.p_account .information .info{
    display:flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding:0.8rem;
    border-radius:var(--border-raduis-1);
    border:var(--border-transparent);
    
}
main.p_account .info:hover {
    border:var(--border-hovering);
}
main.p_account .info input,main.p_account .info select {
    padding:0.4rem;
    color:var(--color-dark);
    background-color:var(--color-body);
    border-radius: var(--border-raduis-1);
    width:75%;
    border:var(--border-transparent);
}

main.p_account .info input:focus{
   border:var(--border-hovering);
}

main.p_account .info input:focus main.p_account .info{
    border:var(--border-transparent);
}
main.p_account .info.submit{
    width:fit-content;
}
main.p_account .info.submit input {
    width:fit-content;
    background-color: transparent;
    font-weight: 700;
    /* color:var(--color-primary) */
}
/* @media screen and (max-width: 1200px){
    main.p_account .information {
        width:100%;
    }
    }
    
    @media screen and (max-width:768px){

    }
     */

/************************/
/* provider_settings   */
main.p_settings .information {
    /* background-color: var(--color-white); */
    display:grid;
    width:100%;
    grid-template-columns: auto-fill;
    grid-gap:10px;
    margin-top:2rem;
   
}

main.p_settings .information .info{
    display:flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding:0.8rem;
    border-radius:var(--border-raduis-1);
    border:var(--border-transparent);
    
}

main.p_settings .information>.info:hover {
    border:var(--border-hovering);
    
}
main.p_settings .info input,main.p_settings .info select {
    padding:0.4rem;
    color:var(--color-dark);
    background-color:var(--color-body);
    border-radius: var(--border-raduis-1);
    width:75%;
    border:var(--border-transparent);
}

main.p_settings >.info input:focus{
   border:var(--border-hovering);
}

main.p_settings .info input:focus main.p_settings .info{
    border:var(--border-transparent);
}
main.p_settings .info.payment {
    display:grid;
    grid-template-columns: 1fr;
}
main.p_settings .info.payment .top{
    display:flex;
    justify-content: space-between;
}
main.p_settings .info.payment .top button{
    background-color: transparent;
}
/* @media screen and (max-width: 1200px){
    main.p_account .information {
        width:100%;
    }
    }
    
    @media screen and (max-width:768px){

    }
     */

/************************/
/* provider_customers */

main.p_customers .info{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
    margin-bottom: 5rem;
    margin-top:1.5rem;
}
main.p_customers .info > div{
    padding:2rem;
    box-sizing:content-box;
    background-color:var(--color-white);
    border-radius: var(--border-raduis-2);
    transition:all 300ms ease;
    border:var(--border-transparent);
}
main.p_customers .info > div:hover {
   
   border:var(--border-hovering);

}

main.p_customers .info .description{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:4rem;
}
main.p_customers .info .details{
    display:flex;
    justify-content: space-between;
}
main.p_customers .customersInfo{
    display:flex;
    flex-direction:column;
}
main.p_customers .customersInfo .filters {
    display:flex;
    justify-content: space-between;
    /* background-color: var(--color-white); */
    /* padding:1rem; */
    border-radius: var(--border-raduis-1);
    margin-bottom:1rem;
   
}
main.p_customers .customersInfo .filters input[type="text"]{
    /* border:1px solid var(--color-border); */
    padding:0.5rem;
    background-color: var(--color-white);
    border-radius: var(--border-raduis-1);
}
main.p_customers .customersInfo .filters input[type="text"],
main.p_customers .customersInfo .filters button,
main.p_customers .customersInfo table{
border:var(--border-transparent);
}
main.p_customers .customersInfo .filters input[type="text"]:hover,
main.p_customers .customersInfo .filters button:hover,
main.p_customers .customersInfo table:hover{
border:var(--border-hovering);
}
main.p_customers .customersInfo .filters button {
    background-color: var(--color-white);
    padding:0.5rem;
    border-radius: var(--border-raduis-1);
    color:var(--color-dark);
}
main.p_customers .customersInfo table {
    font-size:0.8rem;
    width:100%;
    border-radius: var(--border-raduis-2);
    /* border-collapse:collapse; */
    background-color: var(--color-white);
    border-radius: var(--border-raduis-2);

}
main.p_customers .customersInfo table thead,
main.p_customers .customersInfo table tbody{
    border-radius: var(--border-raduis-2);
}
main.p_customers .customersInfo table tbody tr:not(:first-child){
   border-top:1px solid var(--color-border);
}

main.p_customers .customersInfo table td,
main.p_customers .customersInfo table th{
    padding:0.3rem ;
    width:fit-content;
    /* margin:0 0.5rem; */

}
main.p_customers .customersInfo table th{
padding-top:2rem;
}

main.p_customers .customersInfo table tr:last-child td{
    padding-bottom:2rem;
}

main.p_customers .customersInfo table tr{
    width:90%;
}
main.p_customers .customersInfo table td:hover{
    color:var(--color-primary);
}
main.p_customers .customersInfo table td{
   
    color:var(--color-link);
    text-align: center;
}
main.p_customers .customersInfo table td span{
    display: block;
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
    padding:0.2rem;
    border-radius: var(--border-raduis-1);
    
    border:var(--border-transparent);
 }
 main.p_customers .customersInfo table td span:hover{

    border:var(--border-hovering);
 }
/* main.p_customers .customersInfo table td #notify:hover{
   color:var(--color-success);
} */
main.p_customers .customersInfo .form{
    margin-top:0.5rem;
    /* background-color: var(--color-white); */
    /* width:fit-content; */
    /* border-radius: var(--border-raduis-1); */

}
main.p_customers .customersInfo form{
    display:none;
}
main.p_customers .customersInfo form input{
    background-color: var(--color-white);
    color:var(--color-dark);
    padding:0.5rem;
    border-radius: var(--border-raduis-1);

}
main.p_customers .customersInfo .form input[type="submit"]{
color:var(--color-primary);
border:var(--border-transparent);
font-weight:600;

}
main.p_customers .customersInfo .form input[type="submit"]:hover{
   
    border:var(--border-hovering);
    
    }
main.p_customers .customersInfo #addCustomer{
    background-color: var(--color-white);
    color:var(--color-dark);
    padding:0.6rem;
    align-self: center;
    border-radius: var(--border-raduis-1);
    border:var(--border-transparent);
    transition:var(--transition-duration);
    margin-top:0.5rem;
}
main.p_customers .customersInfo #addCustomer:hover{
    border:var(--border-hovering);
}
@media screen and (max-width:1200px){
    main.p_customers .customersInfo table td:nth-child(3),
    main.p_customers .customersInfo table td:nth-child(4),
    main.p_customers .customersInfo table th:nth-child(3),
    main.p_customers .customersInfo table th:nth-child(4){
        display:none;
    } 
}
@media screen and (max-width:768px){
    main.p_customers .info{
        grid-template-columns: 1fr;
    }
}
/*******************/
/* provider_notifications */
main.p_notifications h1{
   display:flex;
   align-items: center; 
}
main.p_notifications h1 span{
    font-size:2.2rem;
    margin-right:0.5rem;
    transition: none;
}
main.p_notifications .notifications {
    margin-top:2rem;
    display:grid;
    gap:0.3rem;
}
main.p_notifications .notifications .notification{

display: flex;
align-items: center;
justify-content: space-between;
border-bottom:1px solid var(--color-border);
padding: 0.2rem;
padding-bottom:0.5rem;
}
main.p_notifications .notifications .notification:hover{
    background-color:var(--color-white);
}
main.p_notifications .notifications .notification .message{
display:flex;
align-items: center;
}
main.p_notifications .notifications .notification .message img{
margin-right:1rem;
width:3rem;
opacity: 70%;
border-radius:50%;
}

main.p_notifications .notifications .notification .time{

}

/********************/

/************************************************/

/*             Client Dashboard                           */

/* Login&Ragister.html */

.body-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    position: absolute;
    border: 4px solid var(--color-primary);
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-area{
    width: 420px;
    background-color: rgba(21, 33, 133, 0.18);
    border-radius: 10px;
    padding: 30px 40px;
}

.login-area h1{
    text-align: center;
    font-size: 36px;
    color: var(--color-primary);
}

.user-info{
    height: 50px;
    margin: 32px 0;
    position: relative;
}

.user-info input{
    height: 100%;
    width: 100%;
    border: 2px solid var( --color-dark);    
    border-radius: 40px;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: var(--color-primary);
    padding: 20px 47px 20px 20px;
}

.user-info input::placeholder{
    color: var(--color-dark)
}

.user-info i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.client-provider-select{
    font-size: 16px;
   margin-top: 10px;
   text-align: center;
}
.client-provider-select input[type = 'radio']{
    accent-color: var(--color-primary);

}

.rememberMe-forgot{
    font-size: 14.5px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;  
}

.rememberMe-forgot label input{
    accent-color: var(--color-primary);
    margin-right: 3px;
}

.rememberMe-forgot a{
    color: var(--color-primary);
}

.rememberMe-forgot a:hover{
    text-decoration: underline;
}

.button-login{
    width: 100%;
    height: 45px ;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    color: var(--color-white);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}

.link-register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.link-register a{
    color: var(--color-primary);
    font-weight: bolder;
}

.link-register a:hover{
    text-decoration: underline;
}

/*----------------------------------------------------*/
/* Registration.html */
.body-register{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: var(--color-white);
    position: absolute;
    border: 4px solid var(--color-primary);
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-area{
    width: 420px;
    background-color:rgba(21, 33, 133, 0.18);
    border-radius: 10px;
    padding: 30px 40px;
}

.register-area h1{
    text-align: center;
    font-size: 36px;
    color: var(--color-primary);
}

.user-register-info{
    height: 360px;
    position: relative;
}

.user-register-info input{
    height: 100%;
    width: 100%;
    border: 2px solid var(--color-dark);    
    border-radius: 40px;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: var(--color-primary);
    padding: 15px 20px 15px 20px;
    margin-top: 15px;
}

.user-register-info input::placeholder{
    color: var(--color-dark)
}

.register-client-provider{
    font-size: 14.5x;
    margin-top: 10px;
    text-align: center;
}

.register-client-provider span{
    margin-left: 4px;
    margin-right: 4px;
}

.register-client-provider input[type = 'radio']{
    accent-color: var(--color-primary);

}

.signup-button{
    width: 100%;
    height: 45px ;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    color: var(--color-white);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}

.link-signin{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.link-signin a{
    color: var(--color-primary);
    font-weight: bolder;
}

.link-signin a:hover{
    text-decoration: underline;
}
/*----------------------------------------------------------------------*/
/* Css content for client_licenseManagement.html */

.client-serialnum{
    border-spacing: 50px;
    font-size: 14px;
    text-align: center;
    border: 1px solid var(--color-primary);
    border-radius: 50px;
}

.client-serialnum input{
    text-align: center;
    color: var(--color-primary);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(246, 246, 249);
    border: 1px solid var(--color-primary);
    padding-left: 10px;
    padding-right: 10px;

}

.client-serialnum input::placeholder{
    color: var(--color-primary);
}

.client-serialnum td{
    color:rgb(125, 141, 161);
}

.search-sort{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.license-search{
    padding-right:0px;
    text-align: center;
    padding: 1px;
    border-radius: 20px;
    text-align: center;
    padding: 9px 5px 9px 5px;
    background-color: rgb(246, 246, 249);
    border: 1px solid var(--color-primary);
}

.save-changes-button{
    background-color: var(--color-primary);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    cursor: pointer;
}

.license-sortSelect{
    border: 1px solid var(--color-primary);
    padding: 9px 4px 9px 4px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(246, 246, 249);

}


/*----------------------------------------------------------------------*/
/* Css content for client_notifications.html */
.client-notification-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: 0.25s;
  }

  .client-notification-table th, .client-notification-table td {
    border: 1px solid #ddd;
    padding: 12px;
    transition: 0.25s;
  }

  .client-notification-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: var(--color-dark);  
}

  .client-notification-table tr:hover {
    background-color: #f5f5f5fd;
  }

  .client-notification-table:hover {
    outline: 1px solid var(--color-primary); 
  }


  .client-notification-table .unread {
    color: var(--color-dangerous);
    font-weight: bold;
  }

  .client-notification-table .read {
    color: var(--color-success);
    font-weight: bold;
  }

.notification-name{
   color: var(--color-dark);
   font-weight: bold;
}

/*----------------------------------------------------------------------*/
/* Css content for client_account.html */

main.c_account .information {
    /* background-color: var(--color-white); */
    display:grid;
    width:100%;
    grid-template-columns: auto-fill;
    grid-gap:10px;
    margin-top:2rem;
   
}

main.c_account .information .info{
    display:flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding:0.8rem;
    border-radius:var(--border-raduis-1);
    border:var(--border-transparent);
    
}
main.c_account .info:hover {
    border:var(--border-hovering);
}
main.c_account .info input,main.p_account .info select {
    padding:0.4rem;
    color:var(--color-dark);
    background-color:var(--color-body);
    border-radius: var(--border-raduis-1);
    width:75%;
    border:var(--border-transparent);
}

main.c_account .info input:focus{
   border:var(--border-hovering);
}

main.c_account .info input:focus main.p_account .info{
    border:var(--border-transparent);
}
main.c_account .info.submit{
    width:fit-content;
}
main.c_account .info.submit input {
    width:fit-content;
    background-color: transparent;
    font-weight: 700;
    /* color:var(--color-primary) */
}