<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top">
        <div class="logo">
            <span class="material-symbols-sharp">encrypted</span>
            <h2>Licen<span>Hub</span></h2>
        </div>
        <div class="close">
            <span class="material-symbols-sharp">close</span>
        </div>
      </div>
      <div class="side">
        <a href="provider_dashboard.html" class=" aside">
            <span class="material-symbols-sharp">dashboard</span>
            <p>Dashboard</p>
        </a>
        <a href="provider_account.html" class="aside">
            <span class="material-symbols-sharp">account_circle</span>
            <p>Account</p>
        </a>
        <a href="provider_customers.html" class="aside">
            <span class="material-symbols-sharp">group</span>
            <p>Customers</p>
        </a>
        <a href="provider_products.html" class="aside">
            <span class="material-symbols-sharp">inventory</span>
            <p>Products</p>
        </a>
        <a href="provider_serialNumbers.html" class="aside">
            <span class="material-symbols-sharp">vpn_key</span>
            <p>Serial Numbers</p>
        </a>
        <a href="provider_notifications.html" class="aside">
            <span class="material-symbols-sharp">notifications</span>
            <p>Notifications</p>
        </a>
        <a href="provider_settings.html" class="aside">
            <span class="material-symbols-sharp">settings</span>
            <p>Settings</p>
        </a>
        <a href="index.html" class="aside">
            <span class="material-symbols-sharp">logout</span>
            <p>Logout</p>
        </a>
      </div>
</body>
</html>